.layout {
    width: 500px;
    margin: 0 auto;
    margin-top: 40px;
}

.layout input {
    width: 100%;
    box-sizing: border-box;
}

.layout textarea {
    width: 100%;
    min-height: 300px;
    margin-top: 10px;
}